.c-line {
    fill: none;
    stroke-width: 1px;
}

.preview .c-line {
    stroke-width: 10px;
}

.c-anchor-line {
    stroke-width: .6px;
    stroke: lightgray;
}

.c-axis-line {
    stroke-width: 2px;
    stroke: black;
}

#main {
    width: 800px;
    height: 400px;
}

.view-frame {
    fill: none;
    stroke: black;
    stroke-width: 10px;
}

.c-legend-canvas {
    position: absolute;
    z-index: -1;
}

.c-anchor-label {
    font-size: 14px;
    opacity: 0.5;
}