@import './vars.scss';
@import './plot.scss';
@import './button.scss';
@import './tip.scss';

#main {
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 800px) {
    #main {
        width: 800px;
    }
}

body {
    padding-bottom: 3em;
}

.footer {
    position: fixed;
    height: 3em;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    background-color: $day-bg-color;
    user-select: none;
}

.c-circle-mask {
    fill: $day-bg-color;
}

.c-night {
    background-color: $night-bg-color;

    .c-tooltip {
        background-color: $night-bg-color;
    }

    .c-circle-mask {
        fill: $night-bg-color;
    }

    .footer {
        color: cyan;
        background-color: $night-bg-color;
    }

    .c-button, .title {
        color: $night-font-color;
    }

    .c-anchor-label {
        fill: $night-font-color;
    }
}
