.c-opaque {
    opacity: 0;
}

.c-plot {
    width: 100%;
    min-height: 400px;

    display: flex;
    flex-direction: column;

    .title {
        margin-left: 0.5em;
    }

    .c-line {
        fill: none;
        stroke-width: 1px;
        transition: opacity 400ms ease-in-out;
    }

    .c-preview-canvas {
        .c-line {
            stroke-width: 5px;
        }
    }

    .c-main-canvas {
        .c-line {
            vector-effect: non-scaling-stroke;
        }
    }

    .c-legend-canvas {
        position: absolute;
        z-index: -1;

        .c-anchor-label {
            font-size: 14px;
            opacity: 0.5;
        }

        .c-anchor-line {
            stroke-width: 1px;
            stroke: grey;
        }

        .c-axis-line {
            stroke-width: 2px;
            stroke: black;
        }
    }

    .c-preview {
        position: relative;

        .c-preview-frame {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            touch-action: none;

            .frame {
                border: 1px solid gray;
                border-left-width: 4px;
                border-right-width: 4px;
                background: transparent;
                flex: 1;
            }

            .filler {
                background-color: gray;
                opacity: 0.3;
            }
        }
    }

    .c-axis {
        height: 1em;
        font-size: 0.7em;
        overflow: hidden;

        > div {
            position: relative;
        }

        .c-axis-label {
            margin-left: 0.4em;
            position: absolute;
            opacity: 0;
            transition: opacity 400ms ease-in-out;
            transform: translateX(-50%);

            &.c-axis-label-first {
                transform: none;
            }

            &.c-axis-label-last {
                transform: translateX(-100%);
            }

            &.c-axis-label-visible {
                opacity: 1;
            }
        }
    }
}
