.c-tooltip {
    position: absolute;
    min-width: 3em;
    max-width: 9em;
    border-radius: 3px;
    background-color: $day-bg-color;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    .title {
        font-size: 0.9em;
        margin-right: 0.5em;
        margin-left: 0.5rem;
    }

    .c-container {
        display: flex;
        margin-left: 0.5em;
        margin-top: 0.4em;

        &> div { 
            flex: 1;
            margin-right: 0.5em;

            &> div:first-child {
                font-weight: bolder;
            }
            
            &> div:last-child {
                font-size: 0.8em;
            }
        }
    }
}